[Unit]
Description=Schronisko Main Page Service
After=network.target

[Service]
WorkingDirectory=/var/svc/schronisko/main/src/client
ProtectHome=true
PrivateTmp=true
ExecStart=/usr/local/bin/npm run start
Restart=on-failure

[Install]
WantedBy=multi-user.target
