.page-link {
  color: white;
  font-size: 27px;
  font-weight: 300;
}

.page-link-blob {
  display: inline-block;
  background-color: var(--text-color);
  text-transform: uppercase;
  padding: 12px 54px;
  border-radius: 32px;
  width: fit-content;
  margin-right: 2vw;
  cursor: pointer;
}
