.layout-wrapper {
  position: relative;
  margin-bottom: 1120px;

  & > * {
    position: absolute !important;
    width: 100%;
  }
}

.img-wrapper > * {
  width: 100%;
  position: absolute;
}

#yellow {
  width: 100%;
}

#green {
  width: 85%;
  margin-top: 500px;
}

#carousel {
  width: 840px;
  margin-top: 32px;
  margin-right: 32px;
  border-radius: 100px;
  z-index: 1;

  img {
    border-radius: 100px;
    width: 100%;
  }
}

.article {
  padding: 120px 60px;

  h1 {
    text-transform: uppercase;
  }

  p {
    font-weight: lighter;
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

#links {
  top: 930px;

  & > :first-child {
    margin-bottom: 10px;
  }
}
