.animals-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

  &--loading {
    filter: blur(5px);
  }
}

.not-found-message {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 48px 0;
}
