/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

main {
  margin: 24px;
}

.link {
  border: none;
  text-decoration: underline;
  color: #3273dc;
  cursor: pointer;
  background: initial;
}

.link[disabled] {
  cursor: initial;
}

td {
  vertical-align: middle !important;
}

table button span {
  display: grid;
}

header h1 {
  font-size: 150%;
}

.preview {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 60em;
}

.preview .ql-indent-1 {
  margin-left: 3em;
}

.preview .ql-indent-2 {
  margin-left: 6em;
}

.preview .ql-indent-3 {
  margin-left: 9em;
}

.preview .ql-indent-4 {
  margin-left: 12em;
}

.preview .ql-indent-5 {
  margin-left: 15em;
}

.preview .ql-indent-6 {
  margin-left: 21em;
}

.preview h1 {
  font-size: 2em;
}

.preview h2 {
  font-size: 1.5em;
}

.preview h3 {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.preview blockquote {
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
  font-style: italic;
}

.preview li {
  list-style-image: url('img/pawprint.svg');
}

.preview img {
  max-width: 100%;
  border-radius: 50px;
}

.preview p>img {
  background: red;
}

.preview {
  font-family: 'Roboto';
}

.preview * {
  all: revert;
  margin: 0;
}

.preview :not(strong) {
  font-weight: 100;
}

.preview em {
  font-style: italic;
}

.preview .ql-align-center {
  text-align: center;
}

.preview .ql-align-left {
  text-align: left;
}

.preview .ql-align-right {
  text-align: right;
}

.preview .ql-align-justify {
  text-align: justify;
}

.tab {
  height: fit-content;
}

.tab-content {
  display: block !important;
  overflow-x: revert !important;
}

nav.tabs {
  margin-bottom: 0 !important;
}

.tab-content,
.tab {
  width: 100%;
  margin-top: 8px;
}

.g-description {
  font-weight: 300;
}

.g-text-align-center {
  text-align: center !important;
}

.g-text-align-right {
  text-align: right !important;
}

.g-header-actions {
  display: flex;
  align-items: center;
}

.g-table-actions {
  white-space: nowrap;
}

.g-table-actions button {
  padding: 12px;
}

.g-flex-between-100 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.g-table-ellipsis {
  max-width: 10vw;
}

.g-button-transparent {
  cursor: pointer;
  border: none;
  background: none;
}

.g-breadcrumb-separator {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

*::file-selector-button {
  display: none;
}

input[type=search] {
  padding-left: 12px;
}



@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Medium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-MediumItalic.ttf') format('woff');
  font-weight: 300;
  font-style: italic;
}

.tabs a:hover {
  text-decoration: none;
}

.dropdown-content {
  transform: translateX(-100%);
  width: max-content;
  padding: 20px 16px;
  z-index: 1000;
  box-shadow: 2px 2px 10px gray;
}

.dropdown-content > * + * {
  margin-top: 10px;
}