[Unit]
Description=Schronisko Backend Service
After=network.target

[Service]
WorkingDirectory=/var/www/schronisko/backend
ProtectHome=true
PrivateTmp=true
ExecStart=/usr/local/bin/npm run start:nest
Restart=on-failure

[Install]
WantedBy=multi-user.target
