.form {
  margin-top: 32px;
  margin-bottom: 32px;
  max-width: 600px;
  font-weight: 300;

  & > * {
    margin-bottom: 16px;
  }

  label {
    display: block;
  }

  input {
    display: block;
    height: 30px;
    margin-top: 4px;
    padding-left: 10px;
  }

  input,
  textarea {
    width: 100%;
    resize: none;
  }

  :invalid {
    border: 2px solid red;
    border-radius: 4px;
  }

  [readonly] {
    background-color: #f2f2f2;
    border: 1px solid gray;
    border-radius: 4px;
  }
}
