.animals-list {
  display: flex;
  flex-wrap: wrap;

  padding-left: 0;

  &.bw img {
    filter: grayscale(1);
    cursor: unset !important;
  }
}

.not-found-message {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 48px 0;
}
