:root {
  --text-color: #00491e;
  --text-secondary-color: #034064;
  --color-secondary: #729d88;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1200px;
}

* {
  box-sizing: border-box;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > footer {
  margin-top: auto;
}

#__next {
  display: contents;
}

.form-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
}

.form-grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 32px;
}

.form--button {
  background-color: var(--text-color);
  text-transform: uppercase;
  padding: 12px 54px;
  border-radius: 32px;
  color: white;
  margin-left: auto;
  cursor: pointer;
}

.form--button:disabled {
  cursor: not-allowed;
  background-color: #7daf91;
  float: right;
}
