:root {
  --text-color: #00491e;
  --text-secondary-color: #034064;
  --color-secondary: #729d88;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1200px;
}

* {
  box-sizing: border-box;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > footer {
  margin-top: auto;
}

#__next {
  display: contents;
}
