.animal-metadata {
  & > div {
    display: flex;
    line-height: 3em;
  }

  dt {
    display: inline-flex;
    font-weight: 100;

    img {
      margin-right: 10px;
    }
  }

  dd {
    margin-left: 8px;
    display: inline-block;
  }
}
