.article {
  font-weight: 100;
  max-width: var(--page-content-width);

  li {
    list-style-image: url("./pawprint.svg");
  }

  img {
    max-width: var(--page-content-width);
    border-radius: 50px;
  }

  ul {
    list-style-type: unset !important;
  }

  p {
    margin: 0;
  }

  h5 {
    margin: 8px 0;
  }

  blockquote {
    font-style: italic;
  }

  :global(.ql-indent-1) {
    margin-left: 3em;
  }

  :global(.ql-indent-2) {
    margin-left: 6em;
  }

  :global(.ql-indent-3) {
    margin-left: 9em;
  }

  :global(.ql-indent-4) {
    margin-left: 12em;
  }

  :global(.ql-indent-5) {
    margin-left: 15em;
  }

  :global(.ql-indent-6) {
    margin-left: 21em;
  }

  :global(.ql-align-center) {
    text-align: center;
  }

  :global(.ql-align-left) {
    text-align: left;
  }

  :global(.ql-align-right) {
    text-align: right;
  }

  :global(.ql-align-justify) {
    text-align: justify;
  }

  a {
    text-decoration: underline;
    font-weight: 300;
  }
}

.title {
  text-transform: uppercase;
}
