.para {
  font-weight: 100;
}

.copy-button {
  background-color: var(--text-color);
  text-transform: uppercase;
  padding: 12px 54px;
  border-radius: 32px;
  color: white;
  margin-left: auto;
  cursor: pointer;
  float: right;
}
