[Unit]
Description=Schronisko Backend Service
After=network.target

[Service]
WorkingDirectory=/var/svc/schronisko/main
#ProtectHome=true
PrivateTmp=true
ExecStart=/home/ubuntu/.nvm/versions/node/v18.20.3/bin/npm run start:nest
Restart=on-failure
User=ubuntu

[Install]
WantedBy=multi-user.target
