.captcha-image {
  border-radius: 30px;
  margin-top: 8px;
}

.reload-button {
  border: none;
  background: none;
  cursor: pointer;
  float: right;
}

.reload-button--icon {
  margin-right: 8px;
  display: inline-block;
  transform: rotate(220deg);
}

.captcha-info {
  height: 60px;
  margin-top: 16px;
  margin-bottom: 0;
}
