.after-adoption-animals__header {
  width: 500px;
  border: 1px solid var(--text-color);
  border-radius: 60px;
  position: absolute;
  right: 0;
  padding: 30px 50px;

  & > div {
    margin: 0;
  }
}

.after-adoption-animals__header__title {
  text-transform: uppercase;
  font-size: 170%;
  margin-bottom: 0.8em !important;

  & > :global(*) {
    margin-left: 4px !important;
  }

  & :global(img) {
    height: 1.3em;
  }
}

.after-adoption-animals__header__description {
  font-weight: lighter;
}
