.carousel__wrapper {
  position: relative;
}

.carousel__title {
  display: flex;
  justify-content: flex-end;
  top: 32px;
  position: absolute;
  width: 100%;
  padding-right: 32px;

  &> :global(*) {
    max-width: 360px;
  }

  & :global(a) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.carousel__description {
  position: absolute;
  width: 100%;
  margin-left: 50px;
  bottom: 60px;
  padding: 6px 40px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.5);
  width: fit-content;

  p {
    margin: 10px 0;
    max-width: 320px;
    font-size: 150%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 100;
  }
}

.title-content {
  max-height: 64px;
  overflow: hidden;
  display: inline-block;
}

.carousel__image {
  border-radius: 100px;
  width: 100%;
}
