.bad-captcha-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 550px;
  padding: 0 0 0 60px;

  &__left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__title {
    margin: 0;
    font-size: 240%;
    text-transform: uppercase;
  }

  &__text {
    font-weight: lighter;
  }

  &__button {
    font-weight: bolder;
    font-size: 200%;
    letter-spacing: -2px;
    width: min-content;
  }
}
