.article {
  font-weight: 100;
  max-width: 50em;

  img {
    max-width: 50em;
  }

  ul {
    list-style-type: unset !important;
  }

  p {
    margin: 0;
  }

  h5 {
    margin: 8px 0;
  }

  :global(.ql-align-center) {
    text-align: center;
  }

  :global(.ql-align-left) {
    text-align: left;
  }

  :global(.ql-align-right) {
    text-align: right;
  }

  :global(.ql-align-justify) {
    text-align: justify;
  }
}

.title {
  text-transform: uppercase;
}
