.v-adoption-form--form {
  margin-top: 32px;
  margin-bottom: 32px;
  max-width: 600px;
  font-weight: 300;

  & > * {
    margin-bottom: 16px;
    display: block;
  }

  input {
    display: block;
    height: 30px;
    margin-top: 4px;
    padding-left: 10px;
  }

  input,
  textarea {
    width: 100%;
    resize: none;
  }

  :invalid {
    border: 2px solid red;
    border-radius: 4px;
  }

  [readonly] {
    background-color: #f2f2f2;
    border: 1px solid gray;
    border-radius: 4px;
  }

  .v-adoption-form--button {
    background-color: var(--text-color);
    text-transform: uppercase;
    padding: 12px 54px;
    border-radius: 32px;
    color: white;
    margin-left: auto;
    cursor: pointer;
  }
  
  .v-adoption-form--button:disabled {
    cursor: not-allowed;
    background-color: #7daf91;
  }
}

.v-adoption-form--grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
}
