.animal-details--description {
  max-width: 60em;
  font-weight: 100;
  text-align: justify;
}

.animal-images {
  padding-left: 0;

  li {
    margin-top: 32px;
  }

  img {
    border-radius: 50px;
    width: 60em;
  }
}

.animal-metadata {
  & > div {
    display: flex;
    line-height: 3em;
  }

  dt {
    display: inline-flex;
    font-weight: 100;

    & > :global(div) {
      margin-right: 28px !important;
    }
  }

  dd {
    margin-left: 8px;
    display: inline-block;
  }
}
